/*reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

header {
    background-color: #D8CCB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo img {
    height: 60px; /* altura da logo */
    margin-right: 10px; /* espaçamento entre a logo e o texto */
}


.logo h1 {
    font-size: 50px;
    color: black;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    gap: 250px;
    padding: 30px; /* adiciona espaço interno ao redor dos links de navegação */
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: inline-block; /* necessário para que height e line-height funcionem */
    height: 40px; /* ajusta a altura dos links de navegação */
}


.nome_inicio h2 {
    color: #2A2344;
    text-shadow: 10.362px 5.757px 6.908px rgba(0, 0, 0, 0.47);
    font-family: "Inria Serif";
    font-size: 33.389px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    
    background-color: #ded3bc; /* cor de fundo do retângulo */
    padding: 10px 20px; /* espaço interno ao redor do texto */
    border-radius: 30px; /* cantos arredondados do retângulo (opcional) */
    margin: 30px 236px; /* espaço externo acima e abaixo do retângulo, centralizado horizontalmente */
    width: fit-content;
}


main { 
    background-image: url(imagens/foto-de-fundo\ 1.png);
    background-repeat: no-repeat; /* evita a repetição da imagem */
    background-size: cover; /* ajusta a imagem para cobrir toda a área do contêiner */
    background-position: center; /* centraliza a imagem no contêiner */
    height: 80vh; /* faz ocupar toda a altura da tela */
    width: 100%; /* faz ocupar toda a largura da tela */ 
    overflow: hidden;  
}


.hero {
    position: relative; /* faz o conteúdo ficar acima da camada de sobreposição */
    z-index: 2; /* faz o conteúdo ficar visível sobre a camada de sobreposição */
    padding: 20px; 
}


/* Estilos para a camada de sobreposição */
.overlay {
    position: absolute; /* Posiciona a camada sobre o contêiner principal */
    top: 80px;
    left: 0;
    right: 0;
    bottom: 132px;
    background: rgba(42, 35, 68, 0.88);
    box-shadow: 0px 10.267px 25.858px 0px rgba(0, 0, 0, 0.77); /* Azul escuro com 50% de opacidade */
    z-index: ; /* Garante que a camada esteja sobre a imagem */
}
